Repository rtdip/core, pull requests merged in 2023-12, with the labels that each got.

#602 Fix Documentation Links in Swagger
  src/api/v1/circular_average.py
  src/api/v1/circular_standard_deviation.py
  src/api/v1/interpolate.py
  src/api/v1/interpolation_at_time.py
  src/api/v1/latest.py
  src/api/v1/metadata.py
  src/api/v1/raw.py
  src/api/v1/resample.py
  src/api/v1/summary.py
  src/api/v1/time_weighted_average.py
Labels: bug

#604 Blog OPC UA to Delta Lake
  docs/blog/.authors.yml
  docs/blog/images/opcua-to-deltalake.png
  docs/blog/posts/opcua_to_delta.md
Labels: documentation

#583 Source connector for ERCOT System Level Data
  docs/sdk/code-reference/pipelines/sources/spark/iso/ercot_daily_load_iso.md
  docs/sdk/pipelines/components.md
  mkdocs.yml
  src/sdk/python/rtdip_sdk/pipelines/_pipeline_utils/iso.py
  src/sdk/python/rtdip_sdk/pipelines/_pipeline_utils/temp_cert_files.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/__init__.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/base_iso.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/ercot_daily_load_iso.py
  tests/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/data/ercot_daily_load_actual_expected.csv
  tests/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/data/ercot_daily_load_actual_sample1.zip
  tests/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/data/ercot_daily_load_actual_sample2.zip
  tests/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/data/ercot_daily_load_forecast_expected.csv
  tests/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/data/ercot_daily_load_forecast_sample1.zip
  tests/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/test_ercot_daily_load_iso.py
Labels: pipelines

#608 Mirico Transformer, Documentation and Unit Tests
  docs/sdk/code-reference/pipelines/transformers/spark/mirico_json_to_pcdm.md
  mkdocs.yml
  src/sdk/python/rtdip_sdk/pipelines/_pipeline_utils/mirico_field_mappings.py
  src/sdk/python/rtdip_sdk/pipelines/_pipeline_utils/spark.py
  src/sdk/python/rtdip_sdk/pipelines/transformers/spark/mirico_json_to_pcdm.py
  tests/sdk/python/rtdip_sdk/pipelines/transformers/spark/test_mirico_json_to_pcdm.py
Labels: pipelines

#609 Add Mirico Transformer to init
  src/sdk/python/rtdip_sdk/pipelines/transformers/__init__.py
Labels: bug

#613 OpenSTEF Integration
  docs/sdk/code-reference/integrations/openstef/database.md
  docs/sdk/code-reference/pipelines/sources/python/entsoe.md
  docs/sdk/code-reference/pipelines/sources/python/mffbas.md
  environment.yml
  mkdocs.yml
  src/sdk/python/rtdip_sdk/integrations/__init__.py
  src/sdk/python/rtdip_sdk/integrations/openstef/__init__.py
  src/sdk/python/rtdip_sdk/integrations/openstef/_query_builder.py
  src/sdk/python/rtdip_sdk/integrations/openstef/database.py
  src/sdk/python/rtdip_sdk/integrations/openstef/interfaces.py
  src/sdk/python/rtdip_sdk/integrations/openstef/serializer.py
  src/sdk/python/rtdip_sdk/pipelines/sources/python/entsoe.py
  src/sdk/python/rtdip_sdk/pipelines/sources/python/mffbas.py
  tests/sdk/python/rtdip_sdk/integrations/__init__.py
  tests/sdk/python/rtdip_sdk/integrations/openSTEF/__init__.py
  tests/sdk/python/rtdip_sdk/integrations/openSTEF/test_interfaces.py
  tests/sdk/python/rtdip_sdk/integrations/openSTEF/test_serializer.py
  tests/sdk/python/rtdip_sdk/pipelines/sources/python/test_entsoe.py
  tests/sdk/python/rtdip_sdk/pipelines/sources/python/test_mffbas.py
Labels: pipelines

#615 OPC AE Transformer Component
  docs/sdk/code-reference/pipelines/transformers/spark/opc_publisher_opcae_json_to_pcdm.md
  mkdocs.yml
  src/sdk/python/rtdip_sdk/pipelines/_pipeline_utils/spark.py
  src/sdk/python/rtdip_sdk/pipelines/transformers/__init__.py
  src/sdk/python/rtdip_sdk/pipelines/transformers/spark/opc_publisher_opcae_json_to_pcdm.py
  tests/sdk/python/rtdip_sdk/pipelines/transformers/spark/test_opc_publisher_opcae_json_to_pcdm.py
Labels: pipelines

#616 Add logging Warnings into Queries and Query Builders
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  src/sdk/python/rtdip_sdk/queries/time_series/time_series_query_builder.py
  src/sdk/python/rtdip_sdk/queries/weather/_weather_query_builder.py
  src/sdk/python/rtdip_sdk/queries/weather/weather_query_builder.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_query_builder.py
Labels: queries

#618 Fix TagName case sensitivity bug
  docs/sdk/code-reference/query/functions/time_series/latest.md
  docs/sdk/code-reference/query/functions/time_series/summary.md
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_metadata.py
Labels: bug
