Repository rtdip/core, pull requests merged in 2024-07, with the labels that each got.

#770 Add Optional UoM to Raw Query
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  src/sdk/python/rtdip_sdk/queries/time_series/raw.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_raw.py
Labels: queries

#774 v0.11.9
  docs/blog/images/data-quality.png
  docs/blog/posts/rtdip_data_quality.md
  docs/blog/posts/rtdip_energy_forecasting.md
  environment.yml
  src/api/Dockerfile
  src/api/requirements.txt
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  src/sdk/python/rtdip_sdk/queries/time_series/raw.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_raw.py
Labels: release

#775 Add UoM to SDK Time Series Queries and Update Unit Tests
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  src/sdk/python/rtdip_sdk/queries/time_series/circular_average.py
  src/sdk/python/rtdip_sdk/queries/time_series/circular_standard_deviation.py
  src/sdk/python/rtdip_sdk/queries/time_series/interpolate.py
  src/sdk/python/rtdip_sdk/queries/time_series/interpolation_at_time.py
  src/sdk/python/rtdip_sdk/queries/time_series/latest.py
  src/sdk/python/rtdip_sdk/queries/time_series/plot.py
  src/sdk/python/rtdip_sdk/queries/time_series/resample.py
  src/sdk/python/rtdip_sdk/queries/time_series/summary.py
  src/sdk/python/rtdip_sdk/queries/time_series/time_series_query_builder.py
  src/sdk/python/rtdip_sdk/queries/time_series/time_weighted_average.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_circular_average.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_circular_standard_deviation.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_interpolate.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_interpolation_at_time.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_latest.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_plot.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_resample.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_summary.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_time_weighted_average.py
Labels: queries

#780 Add json serialization performance improvements for APIs
  src/api/v1/common.py
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  tests/api/v1/test_api_circular_average.py
  tests/api/v1/test_api_circular_standard_deviation.py
  tests/api/v1/test_api_interpolate.py
  tests/api/v1/test_api_interpolation_at_time.py
  tests/api/v1/test_api_latest.py
  tests/api/v1/test_api_metadata.py
  tests/api/v1/test_api_plot.py
  tests/api/v1/test_api_raw.py
  tests/api/v1/test_api_resample.py
  tests/api/v1/test_api_sql.py
  tests/api/v1/test_api_summary.py
  tests/api/v1/test_api_time_weighted_average.py
  tests/conftest.py
Labels: queries

#781 Update setup.py and additional query tests
  setup.py
  tests/conftest.py
  tests/sdk/python/rtdip_sdk/queries/sql/test_sql_query.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_raw.py
Labels: queries, unit tests

#783 Update Imports on DB SQL Connector
  src/sdk/python/rtdip_sdk/connectors/odbc/db_sql_connector.py
Labels: queries

#785 Status change is now including the Questionable type also
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
  tests/sdk/python/rtdip_sdk/queries/time_series/test_time_weighted_average.py
Labels: queries

#787 SQL API Updates for JSON Responses
  src/api/v1/common.py
  src/api/v1/sql.py
  src/sdk/python/rtdip_sdk/connectors/odbc/db_sql_connector.py
  src/sdk/python/rtdip_sdk/queries/sql/sql_query.py
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  tests/api/v1/test_api_raw.py
  tests/conftest.py
  tests/sdk/python/rtdip_sdk/queries/sql/test_sql_query.py
Labels: queries

#789 Summary\calculation is now only filtering the Bad Status
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
Labels: queries

#791 TWA query error fixed, tested the dev branch for any other issues and found good
  src/sdk/python/rtdip_sdk/queries/__init__.py
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
Labels: queries
