Repository rtdip/core, pull requests merged in 2024-04, with the labels that each got.

#718 Added missing "Good" values to Time Weighted Average
  src/api/v1/models.py
  src/sdk/python/rtdip_sdk/queries/time_series/_time_series_query_builder.py
  tests/sdk/python/rtdip_sdk/queries/_test_utils/sdk_test_objects.py
Labels: queries

#714 Data Quality with Great Expectations
  docs/sdk/code-reference/pipelines/monitoring/spark/data_quality/great_expectations.md
  environment.yml
  mkdocs.yml
  src/sdk/python/rtdip_sdk/pipelines/monitoring/__init__.py
  src/sdk/python/rtdip_sdk/pipelines/monitoring/interfaces.py
  src/sdk/python/rtdip_sdk/pipelines/monitoring/spark/__init__.py
  src/sdk/python/rtdip_sdk/pipelines/monitoring/spark/data_quality/__init__.py
  src/sdk/python/rtdip_sdk/pipelines/monitoring/spark/data_quality/great_expectations_data_quality.py
  tests/sdk/python/rtdip_sdk/pipelines/monitoring/__init__ .py
  tests/sdk/python/rtdip_sdk/pipelines/monitoring/spark/__init__.py
  tests/sdk/python/rtdip_sdk/pipelines/monitoring/spark/data_quality/__init__.py
  tests/sdk/python/rtdip_sdk/pipelines/monitoring/spark/data_quality/test_great_expectations_data_quality.py
Labels: documentation, pipelines

#712 Blog Post for Energy Forecasting in Blog
  docs/blog/.authors.yml
  docs/blog/images/energy-forecasting.png
  docs/blog/posts/rtdip_energy_forecasting.md
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/caiso_daily_load_iso.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/caiso_historical_load_iso.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/ercot_daily_load_iso.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/miso_daily_load_iso.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/miso_historical_load_iso.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/pjm_daily_load_iso.py
  src/sdk/python/rtdip_sdk/pipelines/sources/spark/iso/pjm_historical_load_iso.py
Labels: use cases
